<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Word to the Baker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Word to the Baker, and props to all the gingerbread makers. This is Dave Cummings' personal page on the web.">
    <meta name="author" content="David Cummings">

    <!-- styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!--  html5 shim for IE bullshit -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36935128-1']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

</script>
    <!-- Le fav and touch icons -->
  </head>

  <body>
    <%= partial "header" %>
    <div class="row-fluid">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Electronics</li>
        <li><a href="/projects/PA3AKE">Ham Radio</a></li>
        <li><a href="#"><del>Business Card</del></a></li>
        <li><a href="#"><del>Media Cards</del></a></li>
        <li class="nav-header">Motorcycles</li>
        <li><a href="#"><del>CB700SC</del></a></li>
        <li><a href="/projects/SV650">SV650</a></li>
        <li><a href="/projects/CBR600F4">CBR600F4</a></li>
        <li><a href="#"><del>HCS KX60</del></a></li>
        <li class="nav-header">Fabrication/Art</li>
        <li><a href="#"><del>3D Modeling</del></a></li>
        <li><a href="#"><del>Machining</del></a></li>
        <li><a href="#"><del>Fabrication</del></a></li>
      </ul>
    </div><!--/.well -->
    <aside>
    <h2>Recent Articles</h2>
    <ol>
      <% blog.articles[0...10].each do |article| %>
        <li><a href="<%= article.url %>"><%= article.title %></a> <br/><span><%= article.date.strftime('%b %e') %></span></li>
      <% end %>
    </ol>

    <h2>Tags</h2>
    <ol>
      <% blog.tags.each do |tag, articles| %>
        <li><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></li>
      <% end %>
    </ol>

    <h2>By Year</h2>
    <ol>
      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
      <% end %>
    </ol>
    </aside>

  </div><!--/span-->

    <%= yield %>
  </div><!--/row-->
    <%= partial "footer" %>
    <%= partial "scripts" %> 
  </body>
</html>

