<% wrap_layout :layout do %>
  <div class="span9">
    <%= yield %>
  </div>
    <div class="span3">
  <div class="well sidebar-nav">
    <h2>Recent Articles</h2>
      <% blog.articles[0...10].each do |article| %>
      <span><%= article.date.strftime('%b %e') %></span>
      <a href="<%= article.url %>"><%= article.title %></a> <br/>
      <% end %>

    <h2>Tags</h2>
      <% blog.tags.each do |tag, articles| %>
        <a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a>
      <% end %>

    <h2>By Year</h2>
    <ol>
      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
      <% end %>
    </ol>
  </div>
</div>
</div>
<% end %>
